/* theme styles */
.dark-mode {
  --menu-bar: rgb(38, 44, 51);
  --main-background: #434D5A;
  --main-text: rgba(255, 255, 255, 0.75);
  --colored-elements: #03FABD;
}

.light-mode {
  --menu-bar: #7E8C9F;
  --main-background: rgba(216, 225, 232, 1);
  --main-text: rgba(38, 44, 51, 1);
  --colored-elements: #785EDD;
}

/* css */
html {
    overflow: hidden;
    height: 100%;
}

body {
    background: none !important; 
    height: 100%;
    width: 100%;
    margin: 0 auto; 
    transition: all .1s ease-in-out;
}

h3 {
  margin-bottom: 2px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.2em;
}

.main-container {
  height: 200px;
  width: 400px;
  background: var(--main-background);
  border-radius: 6px;
  color: var(--main-text);
  font-family: 'Montserrat', sans-serif;
}

.main-compact {
  height: 150px;
  width: 150px;
}

i {
  -webkit-app-region: no-drag;
}

a {
  text-decoration: none;
  transition: all .1s ease-in-out;
}

a:link, a:visited {
  color: var(--main-text);
}

a:hover, a:active {
  color: var(--main-text);
  font-weight: bold;
}


/*  Sections/Grid ======================================================================*/
.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: text;
}

.donate-address {
  -webkit-user-select: text;
  user-select: text;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 { width: 100%; }
.span_1_of_2 { width: 49.2%; }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GRID OF TEN  */
.span_10_of_10 { width: 100%; }
.span_9_of_10 { width: 89.84%; }
.span_8_of_10 { width: 79.68%; }
.span_7_of_10 { width: 69.52%; }
.span_6_of_10 { width: 59.36%; }
.span_5_of_10 { width: 49.2%; }
.span_4_of_10 { width: 39.04%; text-align: left; }
.span_3_of_10 { width: 28.88%; }
.span_2_of_10 { width: 18.72%; text-align: left; }
.span_1_of_10 { width: 8.56%; }

/*  GRID OF TWELVE  */
.span_12_of_12 { width: 100%; }
.span_11_of_12 { width: 91.53%; }
.span_10_of_12 { width: 83.06%; }
.span_9_of_12 { width: 74.6%; }
.span_8_of_12 { width: 66.13%; }
.span_7_of_12 { width: 57.66%; }
.span_6_of_12 { width: 49.2%; }
.span_5_of_12 { width: 40.73%; }
.span_4_of_12 { width: 32.26%; }
.span_3_of_12 { width: 23.8%; }
.span_2_of_12 { width: 15.33%; }
.span_1_of_12 { width: 6.866%; }

/* Main styles ====================================================================== */
.row1, .row2, .row3 {
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

.logo {
  text-align: center;
  padding-top: 8px;
}

h2 {
  margin: 20px 0 0 0;
  font-weight: 200;
  font-size: 1.3em;
}

.coin-price, .percent-change, .coin-price-btc {
  font-weight: 500;
  font-size: 1em;
  color: var(--main-text);
}

.currency-small, .currency-small-2, .percent-time, .symbol-small, .currency-small-btc {
  font-size: .5em;
}

.coin-info {
  text-align: left;
  margin-top: -5.5px;
}

.settings {
  padding-top: 20px;
  text-align: right;
}

.row1 {
  height: 84px;
}

.row2 {
  margin-bottom: 11px;
}

.row2 p {
  margin: 0;
  font-weight: 200;
  font-size: 1em;
}

.coin-rank, .coin-mcap, .coin-volume, .coin-asup, .coin-tsup {
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  font-size: .85em;
}

.div-mcap, .div-volume, .div-asup, .div-tsup {
  text-align: left;
 
}

.div-rank {
  text-align: center;
}

.hide-main {
  opacity: 0;
}

.hide {
  display: none !important;
}

/* Menu bar and icons */
.menu {
  margin: 0 auto;
  text-align: right;
  background: var(--menu-bar);
  padding: 5px 0;
  border-radius: 6px 6px 0 0;
}

.fa-minus, .mClose {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.fa-cog, .fa-info-circle, .fa-sync {
  right: 280px;
  position: relative;
  font-size: 15px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  padding: 0 1px;
}

.fa-minus:hover {
  font-weight: 500;
}

.fa-cog:hover, .fa-info-circle:hover, .fa-sync:hover {
  font-weight: bold;
}

.mClose:hover {
  font-weight: 500;
  color: rgb(245, 56, 103);
}

.mClose {
  margin-right: 8px;
  margin-left: 6px;
  transition: all .15s ease-in-out;
}

/* Search main */
.search-row {
  margin: 0 auto;
}

/* Overlay ====================================================================== */
.a1, .a2, .a3, .a4 {
  font-family: 'Montserrat', sans-serif;
	position: absolute;
	width: 400px;
	height: 170px;
	top: 30px;
	left: -401px;
  background: var(--menu-bar);
	z-index: 2;
	opacity: 1;
  border-radius: 0 0 6px 6px;
}

.open {
	opacity: 1;
  visibility: visible;
}

/* Input styles ====================================================================== */
input:focus ~ .search-label, input:valid ~ .search-label {
  font-size: 0.5em;
  color: var(--main-text);
  opacity: 0;
  right: 200px;
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input .search-label {
  color: var(--main-text);
  font-size: 0.82em;
  padding: 12px 5px 5px 5px;
  position: absolute;
  top: 165px;
  left: 6px;
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}

input {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  text-indent: 6px;
  border: 0;
  width: 100%;
  font-size: 1em;
  color: var(--colored-elements);
  background: rgba(255, 255, 255, 0);
}

input ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: var(--colored-elements);
  position: relative;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

input:focus {
  background: rgba(255, 255, 255, 0);
  outline: 0;
}

input:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.15s cubic-bezier(0.2, 0, 0.03, 1);
} 

/* Error/Refresh overlay ====================================================================== */
.fa-exclamation-circle {
  color: rgb(245, 56, 103);
}

.error, .refresh {
  text-align: center;
}

.error h3, .refresh h3 {
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0;
}

.error p, .refresh p {
  font-weight: 400;
  font-size: .9em;
}

.error p {
  margin: 6px auto;
}

.refresh p {
  margin: 6px 22px;
}

.err-span, .refresh-span {
  color: rgb(245, 56, 103);
  font-weight: 500;
}

#refresh-btn {
  margin-right: 4px;
  width: 135px;
}

#err-btn, #err-btn:visited, #err-btn:focus,
#refresh-btn, #refresh-btn:visited, #refresh-btn:focus,
#back-btn, #back-btn:visited, #back-btn:focus {
  outline: 0;
  border: 1px solid var(--main-text);
  background: var(--menu-bar);
  color: var(--main-text);
  text-align: center;
  padding: 4px 40px;
  font-size: .9em;
  font-weight: 200;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

#err-btn, #err-btn:visited, #err-btn:focus {
  margin-top: 6px;
}

#refresh-btn, #refresh-btn:visited, #refresh-btn:focus,
#back-btn, #back-btn:visited, #back-btn:focus {
  margin-top: 10px;
}

#err-btn:hover, #err-btn:active,
#refresh-btn:hover, #refresh-btn:active,
#back-btn:hover, #back-btn:active {
  background: var(--main-text);
  color: var(--menu-bar);
}

/* Settings overlay ====================================================================== */
.satoshi, .theme {
  text-align: center;
  margin-bottom: 16px;
  margin-top: -4px;
}

#convert-input, #convert-display {
  border-bottom: solid 1px var(--main-text);
  font-weight: 600;
  width: 70%;
  height: 14px;
  margin: 4px auto;
  transition: all .1s ease-in-out;
}

#convert-input::-webkit-input-placeholder {
  color: var(--main-text);
  font-size: .6em;
  opacity: .7;
} 

.cibottom {
  border-bottom: solid 1px var(--colored-elements);
}

/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 0;
  height: 24px;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}

.switch-label:before, .switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label:before {
  margin-top: 9px;
  width: 27%;
  height: 36%;
  left: 70px;
  background-color: var(--main-background);
  border-radius: 9999em;
  transition: background-color 0.25s ease; 
}

.switch-label:after {
  top: 47px;
  left: 72px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-text);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label:before {
  background-color: var(--colored-elements);
}

.switch-input:checked + .switch-label:after {
  left: 103px;
}

/* opacity slider */
input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: var(--main-text);
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--colored-elements);
  margin-top: -6px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

.opacity-text, .opacity-slider {
  height: 30px;
  margin-top: 0.6em;
}

.opacity-text {
  margin-top: 0.5em;
  font-weight: 300;
  text-align: center;
}

/* Search overlay ====================================================================== */
.search {
    display: none;
    padding: 10px 0;
    text-align: left;
    height: 400px; 
    margin-left: 10px;
    font-size: 1em;
    font-weight: 200;
    overflow-y: visible;
    overflow-x: hidden;
    color: var(--main-text);
}

.search #row div {
  margin-left: 0;
  height: 20px;
}

.list-image {
  padding-right: 16px;
}

.list-rank {
  padding-right: 10px;
  text-align: center;
}

.search::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.search::-webkit-scrollbar-thumb {
    background-color: var(--colored-elements);
    border-radius: 4px;
}

.search::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.outer-close {
    position: absolute;
    top: 6px;
    left: 376px;
    font-size: 18px;
    color: var(--colored-elements);
    z-index: 3;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.outer-close:hover {
  font-weight: 600;
}

.search-close {
  display: none;
  position: absolute;
  top: 175px;
  left: 376px;
  font-size: 18px;
  color: var(--colored-elements);
  z-index: 3;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.search-close:hover {
  font-weight: 600;
}

/* Donate overlay ====================================================================== */
.donate-header {
  margin: 0 auto;
}

.donate-header h3 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4px;
}

.div-qr {
  text-align: center;
}

.qrcode {
  height: 90px;
  width: 90px;
}

.about {
  text-align: right;
  font-size: .8em;
}

.social-icons {
  text-align: center;
}

.about p, .version {
  margin: 0 auto;
  padding: 0 1px;
}

.about a {
  color: var(--colored-elements);
}

.donate-address {
  text-align: center;
  margin: 0 auto;
  padding-top: 4px;
  font-size: .9em;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--main-background);
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  margin: 0 0 0 112px;
  top: 7px;
  height: 1.5em;
  background: var(--main-background);
  overflow: hidden;
  border-radius: 3px;
}
select {
  outline: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: var(--main-text);
  cursor: pointer;
  border: none;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  left: 65px;
  bottom: 0;
  padding: .1em .3em;
  background: var(--main-background);
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: var(--colored-elements);
}
.select::after {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}